*{
	margin: 0px;
	padding: 0px;
	font-family: Arial;
}

.header{
	width: 100%;
	background-image: url(../Images/antiar.jpg);
	background-size: cover;
	padding-top: 300px;
	padding-bottom: 100px;
}

.toolbar{
	width: 100%;
	min-height: 65px;
	font-size: 15px;
	font-weight: bold;
    background-color: #4e281f;
    display: flex;
	flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.toolbar-inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#btn-menu {
    width: 40px;
    height: 40px;
	margin-right: 15px;
	background-color: #4e281f;
	border: none;
}

.btn-antiar-menu{
	display: flex;
	align-items: center;
}

.menu{
	width: 100%;
    display: none;
	flex-shrink: 0;
}

.btn-antiar{
    color: #fff;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	background-color: #cc7f12;
	border-radius: 5px;
	text-decoration: none;
}

.btn-antiar-mob{
	display: block;
	margin-right: 30px;
}

.btn-antiar-desk{
	display: none;
}

.menu ul{
	margin-top: 20px;
	list-style: none;
}

.btn-links{
	padding: 15px;
	color: #fff;
	display: block;
	text-decoration: none;
	margin: 0 10px;
	border-bottom: 1px #666 solid;
}

.btn-links:hover{
	background-color: #cc7f12;
}

.logo{
	width: 30%;
	color: white;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	margin: 0 15px;
	margin-top: 10px;
	margin-right: 40%;
	float: left;
}

.description{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}

.toolbar-h{
	color: #fff;
	justify-content: center;
	padding: 10px 10px;
	display: flex;
	flex-direction: row;
	background-color: #4e281f;
	border-bottom: 5px #cc7f12 solid;
}

.toolbar-h img{
	padding-top: 3px;
	margin-right: 10px;
}

.toolbar-h2{
	color: #fff;
	justify-content: center;
	padding: 10px 10px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
	background-color: #4e281f;
	border-bottom: 5px #cc7f12 solid;
}

.toolbar-h2 img{
	padding-top: 3px;
	margin-right: 10px;
}

.text p{
	padding-top: 20px;
	padding-bottom: 20px;
}

.antiar-img{
	width: 100%;
    height: 300px;
    border-radius: 20px;
}

.logo-antiar{
	width: 100%;
}

.sec2{
	background-color: #f3f3f3;
	justify-content: space-between;
}

.sec2 div{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}

.sec2 p{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 30px;
}

.social-link{
	display: flex;
	flex-direction: column;
}

.social-bt{
	margin: 10px;
	padding: 10px 20px;
	border: 1px #000000 solid;
	background-color: aqua;
	text-decoration: none;
	border-radius: 10px;
	display: flex;
	align-items: center;
	flex-direction: row;
	color: #fff;
}

.social-bt img{
	width: 30px;
	height: 30px;
	margin-right: 15px;
}

.twitter{
	background-color: #1ebef0;
}

.github{
	color: #000000;
	background-color: #fefefe;
}

.linkedin{
	background-color: #1983bc;
}

.reddit{
	background-color: #ff4500;
}

.me{
	width: 100%;
	border-radius: 20px;
	margin-bottom: 30px;
}

.footer{
	text-align: center;
	padding: 50px 0;
	width: 100%;
	color: white;
	background-color: #4e281f;
}

@media only screen and (min-width: 768px) {
	.toolbar {
		flex-direction: row;
	}

	#btn-menu{
		display: none;
	}

	.btn-links{
		border: none;
	}

	.btn-antiar{
		margin: 0 10px;
		border: none;
	}

	.btn-antiar-mob{
		display: none;
	}

	.btn-antiar-desk{
		display: block;
	}

    .menu {
		width: auto;
        display: block;
    }

    .menu ul{
        height: 100%;
        display: flex;
		margin-top: 0;
        align-items: center;
    }

	.menu li {
		border: none;
	}

	.header{
		width: 100%;
		padding-top: 300px;
		padding-bottom: 100px;
	}

	.description{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-top: 30px;
	}

	.text{
		max-width: 35%;
	}

	.sec2 div{
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
	}

	.sec2 div p{
		max-width: 35%;
	}
	.sec2 p{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.antiar-img{
		width: 50%;
	}

	.logo-antiar{
		width: 450px;
		height: 300px;
	}

	.me{
		width: 300px;
		padding-bottom: 30px;
		border-radius: 40px;
		height: 300px;
	}
}